#sigmetMap .leaflet-popup-content-wrapper{
  font-size: 10px;
}
#sigmetMap{
  width: 320px;
  border-right: 5px solid rgb(100, 100, 100);
}
#sigInfo{
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  color: white;
  display: flex;
  flex-direction: column;
  width: 240px;
}
#sigTable{
  padding: 5px 10px 10px 10px;
  overflow:auto;
  flex-grow: 2;
}
.sigRow{
  padding: 0;
}
.sigRow li{
  list-style-type: none;
  background: rgb(80,80,80);
  margin: 2px 0px;
}
.sigRow .liHeader{
  background: rgb(60,60,60);
  margin: 5px 0 0 0;
}
#sigRaw{
  border-top: 5px solid rgb(100, 100, 100);
  min-height: 150px;
  overflow: auto;
  padding: 10px;
  flex-grow: 1
}
#sigRefresh{
  border-top: 5px solid rgb(100, 100, 100);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 0;
  background: rgb(100,100,100);
}
#sigLatest{
  display: inline-block;
  margin: 0;
  padding: 0px 0 0 5px;
  
}
#sigRefButton{
  display: inline-block;
  width: 36px;
  line-height: 100%;
  user-select: none;
}